header{
  width: 100%;
  background-color: var(--mqg-primary-background);
  padding: 5px;
  height: 15vh;

}


/* MOBILE RESPONSIVE */
@media (max-width: 575px) {
  
  header{
    height: 15vh;
    padding: 5px 10px 5px 10px ;
  }
}