main{
  width: 100%;
  margin: 0;
  background-color: var(--mqg-primary-background);
  min-height: 100vh;
}

.gallery {
  width: 100%;
  height: 100%;
}


/* MOBILE RESPONSIVE */
@media (max-width: 575px) {
  
  main{
    width: 95%;
  }

}