main{
  width: 100%;
  margin: 0;
  background-color: var(--mqg-primary-background);
  min-height: 100vh;
}

.gallery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

@media(max-width: 575px){
  .gallery{
    padding: 5px;
  }

}